@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --red: #c1331c;
    --bg: #fceadc;
}

* { box-sizing: border-box; }

body {
    background-color:var(--bg);

    font-family: Kosugi Maru;
    font-size: 16px;
    font-weight: 450;
    color: var(--red);
    overflow-y: scroll;

    cursor: url('../img/site/cursor/fish.png'), pointer;
}

b {
    font-size: 85%;
    font-weight: 1000;
    font-family: Kosugi Maru;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

a {
    color: var(--red);
    text-decoration: none;

    cursor:  url('../img/site/cursor/fish2.png'), pointer;
}

a[href*="//"]:not([href*="https://mn1ca.neocities.org"]) {
    text-decoration: underline;
}

a:hover {
    font-weight: 600;
    cursor: url('../img/site/cursor/fish2.png'), pointer;
}

h1 {
    font-size: 35px;
    font-family: "Kosugi Maru";
    text-align: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

::selection {
    background-color: #fcc2b8;
}

/* ---- MENU ---- */

#menu-illust {
    width: 100%;

    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 125px;
    padding: 0 7.5%;
    margin-bottom: 50px;

    font-size: 20px;

    background-color: var(--bg);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#menu-text {
    display: inline-flex;
    justify-content: space-between;
    width: 40%;
}

#menu-img {
    width: 150px;
    content: url('../img/site/mn1ca.png');
}

#menu-img:hover {
    filter: brightness(.85);
}

/* ---- DROPDOWN (menu) ---- */
summary {
    list-style: none;
    cursor: url('../img/site/cursor/fish2.png'), pointer;
}

summary:hover {
    font-weight: 1000;
}

#dropdown {
    position: absolute;
    border-left: 2px solid var(--red);

    font-size: 20px;

    margin-left: 8px;
    margin-top: 10px;

    padding-left: 10px;
    padding-top: 10px;

    z-index: 3;

    display: inline-flex;

}

.choice {
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;

    margin: 0px 12px;
    opacity: .75;
}

.choice:hover {
    background-color: #fcc2b8;
}


/* ---- GRID ---- */

.grid {
    margin: 0 auto;
    width: 90%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    display: block;
    float: left;
    width: 33%;
    padding: 10px;

}

.grid-item:hover {
    transform: scale(1.01);
    transition-duration: 0.25s;

    cursor: url('../img/site/cursor/fish2.png'), pointer;
}

.grid-item img {
    width: 100%;
    background: white;

    border: 1px solid var(--red);
    border-bottom: 0px;
}

.title {
    background-color: white;
    padding: 15px 10px;
    text-align: center;

    border: 1px solid var(--red);
    border-top: 0px;
}

/* ---- HIDDEN ---- */

#zoom {
    display: none;
}

#shadow {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;


    background-color: rgba(0,0,0, 0.8);
    z-index: 3;
}

#arrow-menu {
    font-family: "Kosugi Maru";
    font-size: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 0px 30px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#date {
    margin: 10px;
}

.arrows {
    font-size: 30px;
}

.arrows:hover {
    color: #fcc2b8;
}

#left-arrow::after {
    content: "◂";
}

#right-arrow::after {
    content: "▸";
}

#content {
    z-index: 4;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 10vh;
    right: 0;
    margin: auto;

    pointer-events: none;

    display: flex;
}

#content img {
    display: inline-block;
    margin: auto;
    max-width: 75vw;
    max-height: 85vh;
    object-fit: contain;

    pointer-events: auto;
}

#caption {
    display: inline-block;
    width: 20vw;
    max-width: 300px;
    background-color: white;

    z-index: 4;
    margin-left: 2vw;
    padding: 30px;
    padding-bottom: 60px;

    align-self: flex-start;

    font-family: "League Spartan";
    line-height: 1.15;
    letter-spacing: -0.15px;
    font-size: 18px;

    pointer-events: auto;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 25vw;
    height: 200px;
    margin: auto;

    font-size: 20px;
    text-transform: uppercase;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.dir {
    text-align: center;
    background-color: var(--bg);
}

.dir:hover {
    font-weight: 1000;
    cursor: url('../img/site/cursor/fish2.png');
}

#prev {
    text-align: end;
    left: 30vw;
}

#prev::after {
        content: ' ←';
    }

#next {
    text-align: start;
    left: 60vw;
}

#next::before {
        content: '→ ';
    }

#navyear {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    margin-top: 100px;

    font-size: 16px;
    font-weight: 1000;
}

#navfish {
    position: absolute;
    left: 50vw;

    font-size: 16px;
    line-height: 0px;

    z-index: 3;
    image-rendering: pixelated;
}

#navfish img {
    width: 6vw;
    transform: translateX(-50%);
}

@keyframes slide-right {
  from {
    left: 50vw;
  }
  to {
    left: 100vw;
  }
}

@keyframes slide-left {
    from {
    left: 50vw;
  }
  to {
    left: -10vw;
  }
}

/* Element to be moved. Must have position: absolute */
.move-left {
  animation-name: slide-left;
  animation-duration: 1.5s;
}

.move-right {
  animation-name: slide-right;
  animation-duration: 1.5s;
}


@media only screen and (max-width: 950px) {

    /* MENU */

    #menu-illust {
        width: 100%;
        margin: auto;
    }

    #menu-text {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

     #menu-text > *:not(:last-child) {
        margin-bottom: 5px; /* Adds 20px space below all children except the last one */
    }

    #dropdown {
        display: flex;
        flex-direction: column;

        margin: 0px;
        padding: 2px 0px;
        width: 20%;
        right: 6%;

        border: 0px;

        background-color: var(--bg);
    }

    .choice {
        line-height: 25px;
    }

    /* GRID */

    .grid-item {
        width: 100%;
    }

    /* CONTENT */

    #content {
        display: block;
        overflow-y: scroll;
        height: auto;
        max-height: 100vh;
        width: auto;

        padding-bottom: 30px;

        justify-content: center;

        scrollbar-width: none;
        pointer-events: auto;
    }


    #content img {
        max-height: none;
        max-width: 95%;
        width: 95%;
        display: block;
    }

    #caption {
        width: 95%;
        max-width: none;
        margin-left: 2.5%;
        margin-top: 1%;

        height: auto;
        display: inline-block;

        padding: 10px;
        margin-bottom: 200px;

        display: inline-flex;
        justify-content: center;

        vertical-align: bottom;

    }

    #date {
        margin: 0px;
        border: 0px;
        font-size: 30px;
    }

    #caption h1 {
        font-size: 20px;
        text-align: left;
        width: 130px;
        padding-right: 20px;
        margin-right: 25px;

        border-right: 1px solid var(--red);
    }

    #caption-text {
        margin: 20px 0px;
        align-self: flex-end;
        width: 50%;
    }

    #arrow-menu {
        font-size: 4vw;
    }


    #closeout {
        position: fixed;
        top: 25px;
        left: 90vw;

        font-size: 30px;
        color: white;

        z-index: 4;
    }

    #closeout::after {
        content: '✕';
    }

    #closeout:hover {
        cursor: url('../img/site/cursor/fish2.png'), pointer;
    }

    #prev {
        font-size: 14px;
    }

    #next {
        font-size: 14px;
    }

    #nav {
        width: 50vw;
    }

    #navfish img {
        width: 10vw;
    }

    #navyear {
        margin-top: 70px;
        font-size: 14px;
    }

}
