@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* { box-sizing: border-box; }

:root {
    --red: #c1331c;
    --bg: #fceadc;

    --type1: 'Kosugi Maru';
    --type2: 'League Spartan';
}

body {
   background-color:var(--bg);

    /**font defaults**/
    font-family: var(--type1);
    font-size: 18px;
    line-height: 1.2;
    color: var(--red);
    overflow: auto;

    cursor: url('/img/cursor/fish.png'), pointer;
}

b {
    font-size: 80%;
    font-weight: 1000;
    font-family: var(--type1);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: var(--red);
    text-decoration: none;

    cursor:  url('/img/cursor/fish2.png'), pointer;
}

a[href*="//"]:not([href*="https://mn1ca.fish"]) {
    text-decoration: underline;
}

br {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    border: 0px;
    border-top: 1px solid var(--red);
    width: 95%;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background-color: #fcc2b8;
}

#wrapper {
    width: 100%;

    text-align: center;
    align-items: flex-start;
}

/* ---- MENU ---- */

.menu {
    width: 100%;

    position: static;
    left: 0px;
    top: 0px;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 60px;
    height: 15vh;
    padding: 0 7.5%;
    margin-bottom: 50px;

    font-size: 20px;

    background-color: var(--bg);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu a:hover {
    font-weight: 1000;
}

#menu-text {
    display: inline-flex;
    justify-content: space-between;
    width: 40%;

    vertical-align: bottom;
}

#menu-img {
    height: 15vh;
    min-height: 60px;
    content: url('/img/mn1ca.png');
}

#menu-img:hover {
    filter: brightness(.85);
}


#links {
    padding: 25px 0px;
    width: 100%;
    color: var(--red);
    font-family: var(--type1);
    line-height: 1.5;
    font-weight: 1000;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#links a::after {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: var(--red);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-external-link'%3E%3Cpath d='M15 3h6v6'/%3E%3Cpath d='M10 14 21 3'/%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='M15 3h6v6'/%3E%3Cpath d='M10 14 21 3'/%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/%3E%3C/svg%3E");

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    margin-left: 5px;
}


/* ---- GRID ---- */

.grid {
    margin: 0 auto;
    width: 90%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
