body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main {
    width: 300px;
    height: 0px;

    position: relative;
    top: 20px;
    margin: auto;
}

#cover {
    width: 100%;
    z-index: 0;

    pointer-events: none;

    position: relative;

    content: url('./img/main.png');
}

#hook {
    width: 195px;
    height: 418px;

    position: relative;
    top: -550px;
    left: 210px;

    background: url('/home/img/hook.png') 0 0;
    transform: scale(0.35);
    z-index: 1;

    cursor: url('/img/cursor/fish2.png'), pointer;
}

#clickme {
    width: 100px;
    position: relative;
    top: -800px;
    left: 325px;

    display: none;
}

#hook:hover + #clickme {
    display: block;
}

#line {
    position: relative;
    top: -375px;
    left: -4px;

    min-height: 200px;
    max-height: 625px;
    z-index: 2;
    color: black;
    border-right: 2.5px solid #5f210c;
    background-attachment: fixed;
    z-index: 0;
}

#links {
    position: relative;
    top: 400px;

    width: 200px;
    margin: auto;
}

.link {
    margin: 25px 0px;

    font-size: 40px;
    text-align: right;

    z-index: 3;
}

.link:hover {
    background-color: #f7cfb0;
    cursor: url('/img/cursor/fish2.png'), pointer;
}

.bottom {
    font-size: 18px;
    width: 200px;
    text-align: right;
    text-transform: uppercase;
    border-top: 3px solid var(--red);

    padding: 10px 0px 20px;

    font-weight: 1000;
}

@media only screen and (max-width: 600px) {

    #clickme {
        top: -750px;
        left: 280px;
        width: 50px;
    }
}
