p {
    margin: 0px;
    line-height: 100%;
    text-align: justify;
}

h1 {
    width: 250px;
    margin-bottom: -3px;

    font-size: 120%;
    font-weight: 1000;
    font-style: italic;
}

h2 {
    margin: 15px 0px 0px;

    font-size: 90%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Structural */

#sidebar {
    width: 400px;
    margin-top: 40px;

    display: inline-block;
}

.header {
    padding: 10px 20px 0px 20px;

    display: flex;

    border-top: 1px solid var(--red);

    list-style: none;
    font-size: 24px;
    font-weight: 1000;
    text-align: left;

    cursor: url('/img/cursor/fish2.png'), pointer;
}

.innards {
    margin: 10px 20px;

    display: none;

    text-align: left;
    line-height: 120%;
    font-family: var(--type2);

    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.innard-title {
    display: none;
}


/* Show/hide */

.plus {
    transition-property: transform;
    transition-duration: 0.35s;

    font-family: var(--type2);
    font-size: 32px;
    font-weight: 500;

    margin-left: 100px;
}

.down {
    transition-property: transform;
    transition-duration: 0.35s;

    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);

    margin-left: 90px;
}



/* Dropdown */

summary {
    list-style: none;

    font-size: 14px;
    font-family: "Kosugi Maru";

    cursor: url('/img/cursor/fish2.png'), pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

details {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea {
    resize: none;

    width: 300px;
    height: 55px;
    padding: 5px;

    font-family: var(--type1);
    border-color: var(--red);
    border-radius: 5px;
}

.underline {
    text-decoration: underline;
    font-family: var(--type2);
    font-size: 18px;

    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#button-display {
    width: 300px;
    height: 100px;

    overflow-y: scroll;

    text-decoration: none;
}

.credit-desc {
    font-size: 16px;
    font-weight: 300;
}

.credit-desc:before {
    content: ' • ';
}

/* Go back */

.link {
    font-family: "Kosugi Maru";
}

.link:hover {
    background-color: #f7cfb0;
}


/* Links */

#contact {
    margin-left: 15px;
    margin-bottom: 5px;

    font-weight: 400;
    line-height: 110%;
}

#statuscafe {
    padding: 5px 10px 0px;
    margin: 2px 0px 10px 5px;

    border-left: 1px solid var(--red);

    font-weight: 300;
    line-height: 110%;
}

#statuscafe-time {
    margin-top: 5px;

    font-family: var(--type1);
    font-weight: 1000;
    font-size: 14px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* Objects */

#title {
    z-index: -2;
    pointer-events: none;
}

#object-container {
    width: 600px;
    height: 90vh;
    margin-right: 50px;

    vertical-align: top;
    display: inline-block;
}

.object {
    width: 0px;
    height: 0px;

    position: relative;
}

.subtitle {
   display: none;
}

.object-img {
    width: 250px;
    height: 250px;

    background: url("./img/stuff.png") 0 0;

    cursor: url('/img/cursor/fish2.png'), pointer;
}

.object-img:hover {
    filter: brightness(110%);
    transform: rotate(-20deg);
}

.number {
    position: relative;

    font-size: 60px;
    font-weight: 1000;

    z-index: -1;
}

.object-desc {
    margin: 50px 0px 2px;
    padding: 0px 20px 20px;

    background-color: white;
    border-radius: 20px;

    display: none;

    font-family: Kosugi Maru;
    font-size: 14px;
    line-height: 110%;
    text-align: justify;
}

.object-title {
    width: 110px;
    padding: 10px;

    position: relative;
    top: -13px;
    left: -10px;

    border: 1px solid var(--red);
    border-radius: 2px;
    background-color: var(--bg);

    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: var(--type2);

    transform: rotate(-8deg);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.show {
    display: block;
}

@media only screen and (max-width: 1125px) {
    #sidebar {
        position: fixed;
        width: 0px;
        height: 0px;

        z-index: 4;
    }

    .header {
        display: none;
    }

    .innards {
        position: fixed;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border: 1px solid var(--red);
        display: none;

        max-height: 60vh;
        width: 60vw;

        background-color: var(--bg);
        padding: 30px;

        overflow-y: auto;
    }

    .innard-title {
        display: block;

        font-size: 24px;
        font-family: Kosugi Maru;
        font-weight: 1000;
        text-align: left;

        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--red);
    }

    textarea {
      width: 100%;
    }

    #button-display {
        width: auto;
    }

    #title {
        position: static;
        width: 80vw;
    }

    #object-container {
        position: static;
        width: 80vw;
        height: auto;
        margin: auto;

        text-align: center;
    }

    .object {
        position: static;
        display: inline-block;

        width: auto;
        height: auto;

        margin: 20px;
        margin-bottom: 50px;

        text-align: center;
    }

    .object-desc {
        margin: auto;
        margin-top: 50px;
    }

    .object-img:hover {
    filter: brightness(110%);
    transform: rotate(-8deg);
    }


    .subtitle {
        display: block;
    }

    .number {
        position: static;
        margin-bottom: -20px;
    }

    #hide-while-active {
        display: none;
    }

    #shadow {
        width: 100%;
        height: 100%;

        position: fixed;
        top: 0px;
        left: 0px;


        background-color: rgba(0,0,0, 0.2);
        z-index: 3;
    }

}
